$color-display: #0e1312;

.Display {
  display: flex;
  background-color: $color-display;
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.25);

  height: 80%;
  width: 100%;

  padding: 1.2em 1em;
  border-radius: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &::before {
    content: url("../images/Green.svg");
    position: absolute;
    top: -10px;
    left: 50%;
    transform: scale(6);
  }
}
