@import "darken";
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
.DisplayNumbers {
  div {
    font-family: "Roboto Mono";
    text-align: center;
    letter-spacing: 0em;
    display: inline-block;
    vertical-align: middle;

    font-size: 5.5vw;

    @media (max-width: 750px) {
      letter-spacing: 0rem;
      font-size: 2rem;
      padding: 0.1rem 0;
    }
  }
}

.DisplayNumbers:nth-child(2n) {
  span {
    color: #dbdcdc;
  }
}

.DisplayNumbers:nth-child(2n + 1) {
  span {
    color: #8bff6f;
  }
}

.Number-Underline {
  span {
    text-decoration: underline;
  }
}
